* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hed {
  height: 50px;
  width: 100%;
  background-color: #FF9A4B;
}

main {
  width: 100%;
  margin: auto;
  display: flex;
  align-items:center;
}

h3 {
  padding: 15px 0px 5px 0px;
}

.box1 {
  width: 300px;
  margin: 50px 15px;
  background-color: #EEEEEE;
  padding: 10px 10px 0px 10px;
  position: relative;
}

.image1 {
  background-image: url(img/flow01.png);
  background-size: cover;
  height: 150px;
  
}

.step1 {
  color: white;
  background-color: #FF9A4B;
  position: absolute;
  top:0px;
  left:0px;
}
.box2 {
  width: 300px;
  margin: 50px 15px;
  background-color: #EEEEEE;
  padding: 10px 10px 0px 10px;
  position: relative;
}

.image2 {
  background-image: url(img/flow02.png);
  background-size: cover;
  height: 150px;
}

.step2 {
  color: white;
  background-color: #FF9A4B;
  position: absolute;
  top: 0px;
  left: 0px;
}

.box3 {
  width: 300px;
  margin: 50px 15px;
  background-color: #EEEEEE;
  padding: 10px 10px 0px 10px;
  position: relative;
}

.image3 {
   background-image: url(img/flow03.png);
  background-size: cover;
  height: 150px;
}

.step3 {
  color: white;
  background-color: #FF9A4B;
  position: absolute;
  top: 0px;
  left: 0px;
}

.foot {
  height: 50px;
  width: 100%;
  background-color: #AAAAAA;
}

@media screen and (max-width:768px) {
  .header {
    width: 100%;
  }
  
  main {
    width: 100%;
    display: block;
    
  }
  
  .box1 {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-right: 5%;
    margin-left: 5%;
  }
  
  .box2 {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5%;
    margin-left: 5%;
  }
  
  .box3 {
    width: 90%;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-right: 5%;
    margin-left: 5%;
  }
}